.tile img{
    width: 200px;
    height: 200px;
    padding: 1px;
    background-position: center;
    border-radius: 5px;
    
}
.title_wrapper{
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    background-color: #f6f6f6;
}
.selected{
    border: 3px solid green;
    border-radius: 5px;
}